<div class="col-sm-2 col-lg-2">
	<div class="sidebar-nav">
		<div class="nav-canvas">
			<div class="nav-sm nav nav-stacked">

			</div>
			<ul class="nav nav-pills nav-stacked main-menu">
				<li class="nav-header">系统菜单</li>
				
				<li>
					<a class="ajax-list" href="{:U('Node/index')}"><i class="glyphicon glyphicon-wrench"></i><span> 系统设置</span></a>
				</li>
				
				<li class="accordion">
					<a href="#"><i class="glyphicon glyphicon-cog"></i><span>系统管理</span></a>
					<ul class="nav nav-pills nav-stacked">
						<li>
							<a href="{:U('Node/index')}" class="ajax-list">节点管理</a>
						</li>
						<li>
							<a href="{:U('Role/index')}" class="ajax-list">群组管理</a>
						</li>
						<li>
							<a href="{:U('User/index')}" class="ajax-list">系统用户</a>
						</li>
					</ul>
				</li>
				
				
				
				
				
				
				<li class="accordion">
					<a href="#"><i class="glyphicon glyphicon-plus"></i><span>微信管理</span></a>
					<ul class="nav nav-pills nav-stacked">
						<li>
							<a href="{:U('Menus/index')}" class="ajax-list">微信菜单</a>
						</li>
						<li>
							<a href="{:U('Medias/index')}" class="ajax-list">微信素材管理</a>
						</li>
						<li>
							<a href="{:U('User/index')}" class="ajax-list">系统用户</a>
						</li>
					</ul>
				</li>
				
			</ul>
		</div>
	</div>
</div>