<div>
	<ul class="breadcrumb">
		<li><a href="{:U('Role/index')}" class="ajax-list">群组管理</a></li>
		<li><a href="#">权限管理</a></li>
	</ul>
</div>
<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well">
                <h2><i class="glyphicon glyphicon-leaf"></i>给【{$rolename}】分配权限</h2>

                <div class="box-icon">
                    <a href="#" class="btn btn-setting btn-round btn-default"><i
                            class="glyphicon glyphicon-cog"></i></a>
                    <a href="#" class="btn btn-minimize btn-round btn-default"><i
                            class="glyphicon glyphicon-chevron-up"></i></a>
                    <a href="#" class="btn btn-close btn-round btn-default"><i
                            class="glyphicon glyphicon-remove"></i></a>
                </div>
            </div>
            <div class="box-content">
                <ul class="nav nav-tabs" id="myTab">
                    <li class="active"><a href="#info" data-href="{:U('Role/app',array('groupId'=>I('groupId')))}" data-toggle="tab" id="tap_first">应用授权</a></li>
                    <li><a href="#custom" data-href="{:U('Role/module',array('groupId'=>I('groupId')))}" data-toggle="tab">模块授权</a></li>
                    <li><a href="#messages" data-href="{:U('Role/action',array('groupId'=>I('groupId')))}" data-toggle="tab">操作授权</a></li>
                </ul>

                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane active" id="info">
                    </div>
                    <div class="tab-pane" id="custom">
                    </div>
                    <div class="tab-pane" id="messages">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/span-->
</div><!--/row-->
<script type="text/javascript">
	$(function(){
	
	var url = $('#tap_first').data("href");
	var id = $('#tap_first').attr("href");
	ajaxhtml(url,id);
	
	
	$('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
		// 获取已激活的标签页的名称
		var activeTab = $(e.target).text(); 
		// 获取前一个激活的标签页的名称
		var previousTab = $(e.relatedTarget).text(); 
		var url = $(e.target).data('href');
		var id = $(e.target).attr("href");
		$('.tab-pane').html('');
		ajaxhtml(url,id);
	});
	
	function ajaxhtml(url,id){
		$.ajax({
			type:"get",
			url:url,
			success:function(retData){
				$(id).html(retData);
			}
		});
	}
	
});
</script>