<div class="row">
	<div class="box col-md-12">
		<button type="button" href="{:U('admin/medias/getMedias/id/2')}" class="btn btn-primary waiting" data-types='#media_img'>获取图片素材</button>
		<button type="button" href="{:U('admin/medias/getMedias/id/1')}" class="btn btn-primary waiting" data-types='#media_news'>获取图文素材</button>
	</div>
</div>

<div class="row">
    <div class="box col-md-12">
        <div class="box-inner">
            <div class="box-header well">
                <h2><i class="glyphicon glyphicon-th"></i> 微信素材</h2>

                <div class="box-icon">
                    <a href="#" class="btn btn-setting btn-round btn-default"><i class="glyphicon glyphicon-cog"></i></a>
                    <a href="#" class="btn btn-minimize btn-round btn-default"><i class="glyphicon glyphicon-chevron-up"></i></a>
                    <a href="#" class="btn btn-close btn-round btn-default"><i class="glyphicon glyphicon-remove"></i></a>
                </div>
            </div>
            <div class="box-content">
                <ul class="nav nav-tabs" id="myTab">
                    <li class="active"><a href="#media_img" class="media">图片素材</a></li>
                    <li class=""><a href="#media_voice" class="media">语音素材</a></li>
                    <li class=""><a href="#media_video" class="media">视频素材</a></li>
                    <li class=""><a href="#media_news" class="media">图文素材</a></li>
                    <li class=""><a href="#media_basic" class="media">文字素材</a></li>
                </ul>

                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane active" id="media_img">
                        <div class="load2"></div>
                    </div>
                    <div class="tab-pane" id="media_voice">
                        <h3>Custom
                            <small>small text</small>
                        </h3>
                        <p>Sample paragraph.</p>

                        <p>Your custom text.</p>
                    </div>
                    <div class="tab-pane" id="media_video">
                        <h3>Messages
                            <small>small text</small>
                        </h3>
                        <p>Sample paragraph.</p>

                        <p>Your custom text.</p>
                    </div>
               		<div class="tab-pane" id ="media_news">333</div>     
               		<div class="tab-pane" id ="media_basic">333</div>     
                
                </div>
            </div>
        </div>
    </div>
    <!--/span-->
</div>

<script type="text/javascript">

	$(function(){
		setTimeout(function(){
			$('[href="#media_img"]').click();
		},500);
	})

	$(document).off('click','.waiting').on('click','.waiting',function(){
		var url = $(this).attr('href');
		var types = $(this).data('types');
		waiting(2,true);
		$.ajax({
			type:"get",
			url:url,
			success:function(retData){
				waiting(2,false);
				$('[href="'+types+'"]').click();
			}
		});
	})
	
	$(document).off('click','.media').on('click','.media',function(){
		var id = $(this).attr('href');
		console.log('id值',id);
		var url = '';
		switch (id){
			case '#media_news':url = "{:U('Medias/mediaNews')}";
				break;
			case '#media_img':url = "{:U('Medias/mediaImages')}";
				break;
			case '#media_video':url = "{:U('Medias/mediaVideo')}";
				break;
			case '#media_voice':url = "{:U('Medias/mediaVoice')}";
				break;
			case '#media_basic':url = "{:U('Medias/mediaBasic')}";
				break;	
			default: url = "{:U('Medias/mediaImgages')}";
				break;
		}
		$.ajax({
			type:"get",
			url:url,
			success:function(retData){
				$(id).html(retData);
				bing_this_html(id);
			}
		});
	})
	
	function bing_this_html(id){
		$(document).off('click','.medias_html a').on('click','.medias_html a',function(){
			var url = $(this).attr('href');
			$.ajax({
			url: url,
			type: 'get',
			success: function(retData) {
				$(id).html(retData);
			},
			error:function(e){
				noty({
						text: '服务器请求错误',
						layout: "top",
						timeout: 1000
					});
			}
		});
			return false;
		})
	}
</script>
