<form class="form-horizontal model_insert" role="form" method="post" action="{:U('update')}">
	<input type="hidden" name="id" value="{$vo.id}" />

	<div class="form-group">
		<label for="inputError" class="col-sm-3 control-label">显示名</label>
		<div class="col-sm-5">
			<input type="text" name="title" class="form-control" value="{$vo.title}" placeholder="" datatype="s1-15" errormsg="1～15个字符！">
		</div>
		<div class="col-sm-4"></div>
	</div>


	<div class="form-group">
		<label class="col-sm-3 control-label">状态</label>
		<div class="col-sm-4">
			<select name="state" id="add_pid" class="form-control">
				<option value="1" <eq name="vo.status" value="1">selected</eq>>启用</option>
				<option value="0" <eq name="vo.status" value="0">selected</eq>>禁用</option>
			</select>
		</div>
	</div>

	
</form>
<script>
	$('.model_insert').Validform({
		tiptype:2,
		ajaxPost:true,
		callback:function(data){
			if(data.status==1){
				$('#myModal').modal('hide');
				$('.select-btn').click();
				$('.Validform_close').click();//关闭表单提示框
			}else{
				alert(data.content);
			}
		}
	});
	
</script>