<style type="text/css">
	img{
		width: 100%;
	}
	.panel-group .panel+ .panel {
		border-radius: 0;
		margin-top: 0;
		border-top: 0;
	}
	
	.panel-group .panel:first-child .img {
		overflow: hidden;
		position: relative;
		height: 160px;
		background-color: #ececec;
		color: #c0c0c0;
		text-align: center;
		line-height: 132px;
	}
	
	.panel-group .panel+ .panel .img {
		float: right;
		/*position: absolute;*/
		right: 15px;
		top: 12px;
		height: 80px;
		width: 80px;
		background-color: #ececec;
		color: #c0c0c0;
		line-height: 80px;
		text-align: center;
		overflow: hidden;
	}
	
	.panel-group .panel+ .panel .text h4 {
		word-break: break-all;
		font-size: 14px;
		line-height: 1.5em;
		height: 60px;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	
	.panel-group .panel .text {
		float: left;
		width: 50%;
	}
	
	.panel-group .panel:first-child .img span {
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		height: 28px;
		line-height: 28px;
		width: 100%;
		background: rgba(0, 0, 0, 0.7);
		color: #fff;
		padding: 0 10px;
	}
</style>
<div class="row">
		<volist name='list' id='item' key='s'>
		<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 water">
			<div class="panel-group">
						<div class="panel panel-default">
							<div class="panel-body">
								<a href="javascript:void(0);" onclick="addMediasInput(this)" data-mediaid="{$item.media_id}">
									<h4>{$item.title}</h4>
									<p>{$item.content}</p>
								</a>
							</div>
						</div>
			</div>
		</div>
	</volist>
</div>
<!--row end-->
	
<div class="center-block medias_html">
	<ul class="pagination pagination-centered">
		{$page}
	</ul>
</div>		
